__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
env/*
# Distribution / packaging
.Python
build/
.env
env
app/__pycache__/
dump.rdb
__pycache__/
*.pyc
**/__pycache__
**/migrations
*.txt
*.pem
app.text*