__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so

# Distribution / packaging
.Python
build/
env
.env
app/__pycache__/
__pycache__/
*.pyc
**/__pycache__
django_app/django_app/__pycache__/
django_app/app/__pycache__/
app
api/migrations/*
static
templates